:root {
    --brancoAbsoluto: #FFFFFF;
    --brancoAmeno: #FAFAFA;
    --pretoAbsoluto: #000000;
    --pretoAmeno: #151819;
    --vermelhoAbsoluto: #ED145B;



    --cor-tema: var(--pretoAbsoluto);


    
    font-family: 'Abel', sans-serif;
    font-size: 25px;
}

.todo-corpo {
    align-items: center;
    background-color: var(--brancoAmeno);
    color: var(--pretoAbsoluto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.secoes-principais {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 1rem 0.1rem;
    flex-wrap: wrap;
}

h2 {
    font-weight: 800;
}